<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="layoutPattern">%green{%d{yyyy-MM-dd HH:mm:ss}} %highlight{%5level}{FATAL=bg_red, ERROR=#E9063B, WARN=#EB7428, INFO=#EFDBC5, DEBUG=#008FFF} %magenta{%-4relative} &#45;&#45; [ %thread ] %cyan{%logger} : %yellow{%msg%n}</Property>
		<Property name="logPath">./../../logs/webApp/model2</Property>
	</Properties>

	<Appenders>
		<!-- console -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}" disableAnsi = "false" />
		</Console>

		<!-- rollingFile -->
		<RollingFile name ="file">
			<FileName>${logPath}/webApp.log</FileName>
			<FilePattern>${logPath}/dailyLog_%d{yyyy-MM-dd}_%i.log</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %5level %-4relative - [ %thread ] %logger &#45;&#45; %msg %n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="30MB" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${logPath}" maxDepth="1">
					<IfAccumulatedFileCount exceeds="10"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- application loggers -->
		<Logger name="org.springframework" level="debug" />

		<Logger name="jdbc.sqlonly" level="debug" />
		<Logger name="jdbc.resultsettable" level="debug" />
		<Logger name="jdbc.audit" level="warn" />
		<Logger name="jdbc.sqltiming" level="warn" />
		<Logger name="jdbc.resultset" level="warn" />
		<Logger name="jdbc.connection" level="warn" />

		<Logger name="org.mariadb" level="warn" />
		<Logger name="log4jdbc.debug" level="warn" />

		<!-- fatal, error, warn, info, debug, trace -->
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>